footer
  .container.text-center
    p.pull-left
      span.copyleft &copy;
      |  2017 NodeSchool, No Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/pcuci/liveqa') GitHub Project
      li
        a(href='https://github.com/pcuci/liveqa/issues') Issues
